<html lang="en" ng-app='tools'>
  <head>
    <title>NLP Stack Tools</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap-3.1.1.min.css">

    <script src="/js/jquery-2.0.1.min.js"></script>
    <script src="/js/angular-1.2.13.min.js"></script>
    <script src="/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="/js/tools.js"></script>

    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
  </head>
  <body ng-controller='NlpToolsCtrl'>
    <div class="container">
      <h1>
        NLP Tools <small>a web service to interact with NLP Stack tools</small>
        <span ng-show='working' class="spinner">
          <img src="/img/spinner.gif" />
        </span>
      </h1>

      <tabset>
        <tab ng-repeat="tool in model.tools" heading="{{ tool }}">
            Try <a href="#" ng-click="showExample(tool)">an example</a>.
            Tool implementation is {{ model.toolInfo[tool].impl }}.
            <form>
              <div class="panel panel-default">
                <div class="panel-body">
                  <div>Enter text to {{ tool }}:</div>
                  <div>
                    <textarea ng-model="model[tool]" rows="10" required></textarea>
                  </div>
                  <input ng-click="runTool(tool)" type="submit" value="Submit" class="btn btn-default">

                  <div ng-repeat="response in response[tool]">
                    <pre ng-repeat="text in response.texts">{{ text }}</pre>
                    <div ng-repeat="base64Image in response.base64Images">
                      <img ng-src="data:image/png;base64,{{ base64Image }}" />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </tab>
      </tabset>

      <div ng-show="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    </div>
  </body>
</html>
